.right-container {
    height: calc(100vh - 3.2rem);
}

textarea {
    resize: none;
}

.user-icon {
    width: 2rem !important;
    height: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repo-name:hover {
    text-decoration: underline !important;
}

.search-ai-btn {
    right: 0.1rem;
    bottom: 0.25rem;
}